<div id="temp-scale-container" hx-target="this" hx-swap="outerHTML">

    <button 
        hx-post="/tempScale"
        name="tempScale"
        value="F">
        F
    </button>

    <button 
        hx-post="/tempScale"
        name="tempScale"
        value="C">
        C
    </button>

    <button 
        hx-post="/tempScale"
        name="tempScale"
        value="K">
        K
    </button>

    <div id="temp-scale-display">
        <p>
            {{ temperature }}
            <span class="temp-scale">°{{ tempScale }}</span>
        </p>
    </div>

</div>
