@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
html, body {
  height: 80%;
  margin: 0;
  padding: 0;
}

body {
   background-image: url("/static/images/cloudPNG.jpg");
  background-size: cover;
    background-position: center;
  background-repeat: no-repeat;

}
.weather-page {

   display: flex;
    justify-content: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#useLocation {
    margin-bottom: 10px;
}

.index-title {
  position: relative;
  height: auto;             
  display: flex;
  flex-direction: column;  
  align-items: center;         
  font-style: italic;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #ffffff, #d7e8ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.55);
  padding: 25vh 20px 0 20px;
  letter-spacing: 1px;
    font-weight: 600;
  font-size: 1.5rem;
  
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.city-form {
  padding-left: 10px;
  margin-bottom: 40px;
  display: flex;
  gap: 15px; 
  justify-content: center;
}

.city-form input {
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid transparent;
}


.index-btn {
  padding: 12px 26px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  color: white;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: transform 0.25s ease, background 0.25s ease;
  cursor: pointer;
  display: inline-block;
}

.index-btn:hover {
  transform: scale(1.12);
  background: rgba(255, 255, 255, 0.28);
}


.weather-city {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 45px;
    margin-bottom: 5px;
   text-align: center;
}

.weather-temp {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 10px 0;
    text-align: center
}

.weather-condition {
    font-size: 1.2rem;
    opacity: 0.85;
   text-align: center;
    margin-top: -90px;
}

.temp-scale {
    font-size: 0.45em;     
    vertical-align: super; 
    margin-left: 2px;       
    opacity: 0.9;        
}


.weather-highlow {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 0.9;
position: relative;
      margin-bottom: 10px;
}

#temp-scale-display {
  text-align: center;
    font-weight: 500;
    opacity: 0.9;
    margin-top: -140px;
    font-size: 60px;
    margin-left: 35px;
    
}

button {
    transition: 0.2s ease;
}

button:hover {
    transform: scale(1.1);
}

button.active {
    background-color: #fff;
    color: #000;
    transform: scale(1.15);
}

#temp-scale-container button {
  position: relative;
    top: -120px;
    left: 400px;
}

.weather-card {
    text-align: center;
    padding-top: 20px;
}

