<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudySensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>

<body>
<header class="index-title">
  <h1>CloudySensor</h1>
</header>


<form class="city-form button-group" action="/submit" method="POST">
    <label for="city">Enter a city</label>
    <input type="text" id="city" name="city" placeholder="Enter your city">
    <button type="submit" class="index-btn">Submit</button>
</form>
<nav class = "about-link button-group">
    <a href ="#" class="index-btn">About me</a>
    <a href = "#" class="index-btn">Test</a>
</nav>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

</body>
</html>
