<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudySensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>

<body class = "weather-page">
<div class="weather-card">
    <h1 class="weather-city" id="city">{{ city }}</h1>

    <div id="temp-scale-container" class="weather-temp">
        <div id = "temp-Buttons">
        <button onclick="setScale('F')">F</button>
        <button onclick="setScale('C')">C</button>
</div>
        <div id="temp-scale-display">
            <p id="temp">
    <span id="temp-number"></span>
    <span class="temp-scale"></span>
</p>
        </div>
    </div>

    <div class="weather-highlow">
        <span id="high"></span>
        <span id="low"></span>
    </div>

    <div id="feels-like"></div>

    <p class="weather-condition"  id="condition" data-code="{{ condition }}">{{ condition }}</p>


</div>
<div id="weather-data"
     data-temp="{{ temperature }}"
     data-high="{{ high }}"
     data-low="{{ low }}"
     data-feels="{{ feels_like }}">
</div>

<script src="{{ url_for('static', filename='weather.js') }}"></script>



</body>
</html>
