<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <title>CloudySensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>

<body>


<div class="weather-card">
    <h1 class="weather-city">{{ city }}</h1>

    <div id="temperatureDisplay" class="weather-temp">
        {% include "partials/temperature.html" %}
    </div>

    <p class="weather-condition">{{ condition }}</p>

    <div class="weather-highlow">
        <span>H: {{ high }}°</span>
        <span>L: {{ low }}°</span>

        <p>Feels like: {{feels_like}}°</p>
    </div>

</body>
</html>
